@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline-width: 0px;
}

*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline-width: 0px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: block;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

body {
    font-size: 1.5em;
    /*24px*/
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: block;
    word-wrap: break-word;
}

.row {
    max-width: 1320px;
    margin: 0 auto;
}

:root {
    --color1: black;
    --color2: white;
    --color3: rgb(240, 99, 17);
    --color4: #0aa85e;
    --color5: rgb(177, 177, 177);
    --color6: #f1f0f0;
    --transition: 0.5s;
    --line-height: 23px;
}

/*.................................................................................header.............................................................................*/
header {
    width: 100%;
    font-size: 1em;
}

/*................................................................navbar........................................................*/
.navbar {
    width: 100%;
}

.navbar-conection {
    width: 100%;
    background-color: var(--color1);
    display: flex;
    color: var(--color2);
    justify-content: space-between;
    font-size: 0.5em;
    align-items: center;
    padding: 1em 70px;
    text-transform: uppercase;
}

.navbar-conection__item--differentcolor {
    color: rgb(151, 150, 150);
}

.navbar-conection__item a {
    text-decoration: none;
    color: var(--color2);
}

.navbar-conection__item {
    margin: 0px 5px;
    
}
/*.................................................................................*/
.navbar-menu {
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color5);
    padding: 0em 5em;
}


.navbar-menu-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-menu_link {
    font-size: 0.6em;
    font-weight: 700;
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
    transition: var(--transition);
}

.navbar-menu_link__item {
    margin: 0px 15px;
    transition: var(--transition);
    padding: 2em 0em;
}

.navbar-menu_link__item i {
    font-size: 0.9em;
}

.navbar-menu_link__item:hover {
    color: var(--color3);
}

/*..................................................................*/
.navbar-menu-link-hover-shop {
    width: 90%;
    position: absolute;
    top: 100px;
    left: 80px;
    background-color: var(--color2);
    border-top: 4px solid var(--color3);
    display: none;
}

.navbar-menu_link-hover {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.shopping {
    width: 24%;
}

.shoping__img {
    width: 100%;
    position: relative;
}

.shoping__img img {
    width: 100%;
    height: 355px;
}

.shopping__img-text {
    font-size: 1.6em;
    position: absolute;
    left: 80px;
    top: 140px;
    color: var(--color2);
    text-align: center;
}

.shopping-text {
    font-size: 1.2em;
    border-right: 1px solid var(--color5);
}

.shopping_list {
    list-style-type: none;
}

.shopping_titlle {
    text-transform: uppercase;
    font-size: 1em;
}

.shopping_titlle::after {
    content: "";
    display: block;
    background-color: var(--color1);
    width: 80px;
    height: 2px;
    margin-top: 10px;
}

.shopping_list {
    margin-top: 30px;
    line-height: 2em;
}

.shopping_list_items {
    transition: var(--transition);
    cursor: pointer;
}

.shopping_list_items:hover {
    color: var(--color3);
}

.shopping_footer {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
    transition: var(--transition);
    border-bottom: 1px solid var(--color1);
    width: 50%;
}

.shopping_footer:hover {
    color: var(--color3);
    border-bottom: 1px solid var(--color3);
}


#shoes {
    transition: var(--transition);
}

#shoes:hover .navbar-menu-link-hover-shop {
    display:block;
}

/*.................................................................*/

.navbar-menu_logo {
    filter: grayscale(0%) opacity(100%);
    margin-right: 5px;
    transition: var(--transition);
}

.navbar-menu_logo:hover {
    filter: grayscale(10%) opacity(70%);
}



/*.......................................................................*/
.navbar-menu__connect {
    margin: 0px 10px;
    font-weight: 600;
    font-size: 0.8em;
}

.navbar-menu__connect--line {
    color: var(--color5);
}

.navbar-menu__connect--bag {
    padding: 0.15em 0.4em;
    border: 2px solid black;
    position: relative;
    margin-left: 10px;
    transition: var(--transition);
}

.navbar-menu__connect--bag::after {
    content: "";
    display: inline-block;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0.15em 0.3em;
    position: absolute;
    bottom: 1.3em;
    right: 0.25em;
    border-radius: 5px;
    margin-bottom: 3px;
    transition: var(--transition);
}

.navbar-menu__connect--bag:hover {
    background-color: var(--color3);
    color: var(--color2);
}

.navbar-menu__connect--bag:hover::after {
    border-color: var(--color3);
}

.navbar-menu__connect--bag:hover {
    border-color: var(--color3);
}

.navbar-menu-hover:hover {
    color: var(--color3);
    transition: var(--transition);
}

.navbar_menu {
    display: none;
}

/*................................................text box..............................................*/
.header-text-box {
    padding: 1px;
    width: 96%;
    font-size: 1em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255, 255, 255, 0.342), rgba(255, 255, 255, 0.363)), url(./img/hero-bg.jpg);
    margin: 50px 10px 20px 10px;
}

.center-header-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em 0em;
}

.center-header-box-container h1 {
    color: var(--color1);
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;
}

.center-header-box-container button {
    border: none;
    padding: 1em 3.5em;
    background-color: var(--color1);
    color: var(--color2);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6em;
    transition: var(--transition);
    border: 3px solid var(--color1);
}

.center-header-box-container button:hover {
    color: var(--color1);
    background: none;
}

/*.....................................................image box...................................*/
.header-image-box {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    width: 96%;
    justify-content: space-between;
}

.header-image-box__container img {
    width: 100%;
    cursor: pointer;
    margin: 10px 0px;
}

/*.................................................................section sellers..........................................................................*/
.section-sellers {
    width: 100%;
    font-size: 1em;
    padding: 1px;
}

.sellers {
    width: 96%;
    margin: 50px 10px 20px 10px;
}

.sellers-tittle {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6em;
    padding: 1em 0em;
}

.sellers-tittle::after {
    content: "";
    display: block;
    background-color: rgb(22, 22, 22);
    height: 1px;
    width: 8%;
    margin: 8px 46%;
}

/*...................................................................*/

.sellers-products {
    width: 100%;
    font-size: 1em;
}

.sellers-products-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sellers-products__container {
    display: flex;
    width: 50%;
}

.sellers-products__container-component {
    display: flex;
    width: 50%;
    margin: 10px;
    border: 1px solid var(--color6);
    position: relative;
}

.sellers-products__container-component:hover {
    box-shadow: 2px 2px 10px #e5e7e542,
        -2px -2px 10px #e5e7e51f;
}

.button {
    padding-top: 10px;
}

.btn {
    border: none;
    width: 100%;
    height: 40px;
    background-color: var(--color3);
    color: var(--color2);
    text-transform: uppercase;
    transition: var(--transition);
    cursor: pointer;
    /* transform: translateY(0%); */
    position: absolute;

}

.btn:hover {
    opacity: 0.8;
}

.sellers-products__container-component:hover .btn {
    transform: translateY(-130%);
}


.slideOutRight {
    background-color: var(--color2);
    transition: var(--transition);
    transform: translate(0);
    opacity: 0;
    position: absolute;
    height: 100%;
}

.slideOutRight-img {
    padding: 10px;
}

.slideOutRight-img img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.slideOutRight-img img:hover {
    border: 1.5px solid var(--color3);
}

.sellers-products__container-component:hover .slideOutRight {
    transform: translate(-100%);
    opacity: 1;
}

.icons {
    font-size: 1em;
    padding-top: 20px;
    list-style-type: none;
    position: absolute;
    right: -10;
}

.icon {
    background-color: var(--color2);
    padding: 0.6em;
    border-radius: 50%;
    font-size: 0.8em;
    color: var(--color1);
    transition: var(--transition);
}

.icon-one {
    opacity: 0;
    transform: translateX(0);
}

.icon-one:hover {
    color: var(--color3);
}

.icon-two {
    margin-top: 10px;
    opacity: 0;
    transition-delay: 300ms;
}

.sellers-products__container-component:hover .icon-one {
    transform: translateX(-70%);
    opacity: 1;
}

.sellers-products__container-component:hover .icon-two {
    transform: translateX(-70%);
    opacity: 1;
}

.sellers-products__box {
    width: 100%;
    margin: 5px;
    cursor: pointer;
    position: relative;
}


.sellers-products__box--img {
    margin-top: 10px;
}

.sellers-products__box--img img {
    width: 100%;
}

.sellers-products__box--text {
    background-color: var(--color2);
    padding: 1em 0em;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#seller--kind-of-product>a {
    color: var(--color5);
    text-decoration: none;
    transition: var(--transition);
}

#seller--kind-of-product>a:hover {
    color: var(--color3);
}

#seller--discribe-of-product>a {
    color: var(--color1);
    text-decoration: none;
}

#seller--discribe-of-product {
    margin-bottom: 10px;
    height: 2em;
    font-size: 0.7em;
    text-align: center;
    text-transform: capitalize;
}

#seller--kind-of-product {
    font-size: 0.6em;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
}

#sellers-products__box--text {
    font-size: 0.8em;
    text-align: center;
    color:var(--color4);
}

#sellers-products__box--text--gray{
    color: var(--color5);
    text-decoration: line-through;
    font-size: 0.8em;
}

.sellers-products__box--img--off{
    position: absolute;
    background-color: var(--color4);
    color: var(--color2);
    opacity: 0.7;
    padding: 16px 7px;
    border-radius: 50%;
    z-index: 1;
    font-size: 0.6em;
    left: 40;
    top: 20;
}

/*................................................................... looped image .......................................................................*/
.section-looped-image {
    width: 100%;
    border-bottom: var(--color5);
}

.looped-image {
    width: 96%;
    margin: 5px 10px 50px 15px;
    cursor: pointer;
}

.looped-image img {
    width: 99%;
}

/*.............................................................section-options..........................................................................*/
.section-options {
    width: 100%;
    border-top: 1px solid var(--color6);
}

.options {
    width: 96%;
    margin: 5px 10px 50px 15px;
    display: flex;
    justify-content: center;
    padding: 1em 0em;
}

.options-container {
    display: flex;
    justify-content: center;
}

.options-box {
    display: flex;
    align-items: center;
    margin: 10px 30px;
}

.options-box__text {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 0.5em;
    text-transform: uppercase;
}

.options-box__icons {
    background-color: var(--color6);
    padding: 0.6em;
    border-radius: 1.3em;
}

/*.............................................................. footer part one.....................................................................*/
.footer-part-one {
    width: 100%;
    padding: 1px;
    background-color: var(--color6);
}

.footer {
    display: flex;
    width: 100%;
    font-size: 1em;
    padding: 1.5em 0em;
    text-transform: capitalize;
}

.footer-container-overaly {
    display: flex;
    width: 50%;
    margin: 2px;
}

.footer-container {
    font-size: 0.7em;
    width: 50%;
    margin: 10px;
}

.Ways-of-communication {
    list-style-type: none;
    line-height: 2em;
}

.Ways-of-communication__titlle {
    margin-bottom: 20px;
    font-size: 0.8em;
    
}

.Ways-of-communication__link a::before {
    content: "";
    display: inline-block;
    padding: 0.55em;
    border-radius: 1em;
    margin-right: 5px;
    border: 3px solid var(--color5);
    zoom: 0.5;
    margin-right: 20px;
}

.line {
    margin-right: 16px;
    color: var(--color3);
    font-size: 1em;
}

.Ways-of-communication__link {
    font-size: 0.85em;
    transition: var(--transition);
}

.Ways-of-communication__link:hover {
    transform: translate(12px, 0px);
}

.Ways-of-communication__link a {
    text-decoration: none;
    color: var(--color1);
}

.Ways-of-communication__link a:hover {
    color: var(--color3);
}

.Ways-of-communication__address {
    display: inline-flex;
    align-items: center;
}

.Ways-of-communication__link--address {
    line-height: 1.3em;
    margin-left: 10px;
}

.Ways-of-communication__link--icons {
    color: var(--color3);
    padding: 0.6em;
    border: 1px solid var(--color5);
    font-size: 1.2em;
}

.Ways-of-communication__link__social-media {
    list-style-type: none;
    margin-top: 20px;
}

.Ways-of-communication__link__social-media--icon {
    width: 50px;
    height: 50px;
    border-radius: 1.5em;
    margin: 2px;
    display: inline-block;
    border: 1px solid var(--color5);
    color: var(--color5);
    transition: var(--transition);
    cursor: pointer;
    vertical-align: baseline;
}

.Ways-of-communication__link__social-media--icon i {
    margin-left: 15px;
    margin-top: 15px;
}

.Ways-of-communication__link__social-media--icon:hover {
    transform: scale(0.7);
}

#twitter:hover {
    border: 1px solid rgb(0, 195, 255);
    color: rgb(0, 195, 255);
}

#facebook:hover {
    border: 1px solid rgb(11, 0, 170);
    color: rgb(11, 0, 170);
}

#instagram:hover {
    border: 1px solid rgb(0, 88, 170);
    color: rgb(0, 88, 170);
}

#google:hover {
    border: 1px solid var(--color3);
    color: var(--color3);
}

#youtube:hover {
    border: 1px solid rgb(170, 0, 0);
    color: rgb(170, 0, 0);
}

/*.............................................................. footer part two.....................................................................*/
.footer-part-two {
    width: 100%;
    background-color: var(--color1);
    color: var(--color2);
    font-size: 0.5em;
    display: flex;
    padding: 1.5em 5em;
    justify-content: space-between;
    line-height: 25px;
}

.footer-part-two__text {
    text-align: center;
}

.footer-part-two__link {
    list-style-type: none;
    text-align: center;
}

.footer-part-two__link li {
    display: inline-block;
}

.footer-part-two__link a {
    text-decoration: none;
    color: var(--color2);
}

.footer-part-two__link a:hover {
    color: var(--color3);
    transition: var(--transition);
}

/*.......................................................................fixed part...................................................................................*/

.fixed-box {
    background-color: #f1f2f6;
    font-size: 1em;
    line-height: 50px;
    width: 250px;
    height: 6.5rem;
    padding-left: 20px;
    border-radius: 5px;
    font-weight: 300;
    box-shadow: 2px 2px 10px #e5e7e51f,
        -2px -2px 10px #e5e7e51f;
    position: fixed;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes example {
    0% {
        left: -250px;
        bottom: 50px;
    }

    100% {
        left: 0px;
        bottom: 50px;
    }
}

.fixed-box__button {
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #45aaf2;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-size: 0.5em;
}

.fixed-box__button:hover {
    background-color: #3f92ce;
}

.fixed-box__titlle {
    color: rgb(104, 104, 104);
    font-size: 0.6em;
}

/*.................................................fixed button ................................................................*/

.angle-up__button{
    font-size: 1em;
    border: none;
    background: none;
    padding: 0.3em 0.5em;
    position: fixed;
    right: 20;
    bottom: 40;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 50%;
    transition: var(--transition);
}

.angle-up__button--back {
    transition: 0.5s;    
}

.angle-up__button--back:visited {
    color: var(--color2);
}

.angle-up__button--back:link {
    color: var(--color2);
}

.angle-up__button:hover{
    background-color:var(--color1);
}